.state-map {
    fill:#c0c0c0
}                        /* default color for all states not specified below */
.borders {
    stroke:#FFFFFF; stroke-width:1
}    /* color and width of borders between states */
.dccircle {
    display:yes
}                      /* set display to yes to show the circle for the District of Columbia, or none to hide it */

.separator1 {
    stroke:#B0B0B0; stroke-width:2

} 

.svg-us {
    background-color: rgba(255, 255, 255, 0);
}

.groups {
    fill:none;

}
/* color and width of lines around Alaska and Hawaii */

/* Individual states can be colored as follows:
.ks,.mt,.pa {fill:#0000FF}
.ca,.de {fill:#FF0000}
In this example, Kansas, Montana and Pennsylvania are colored blue, and California and Delaware are colored red.
Place this code in the empty space below. */

.title-map-us {
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: 500;
	font-weight: 600;
    overflow-wrap: break-word;
}

.group-title-map-us{
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: 500;
    
	
 }

 .map-background {
    background-color: white;
    width: 95%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 13px;
    border-radius: 50px;

 }

 
