.App {
  text-align: center;
  background-color: #343a40;
}

.legend {
  display: flex;
  flex-direction: column;
  margin: 0px;
  border: 3px solid #f8f9fa;
  height: fit-content;
  align-items: center;
  background-color: #f8f9fa;

  
  
  
}

.header {
  height: 50px;
  width: 100%;
  background-color: #212529;
  display: flex;
  justify-content: center;
  
}

.logo {
  height: 50px;
}

.logo-title {
  font-size: 19px;
  color: white;
}

.nav-button {
  
  background-color: #495057;
  border: none;
  border-radius: 15px 15px 0px 0px;
  height: 30px;
  color:white;
  cursor: pointer;
  font-size: 10px;
  flex: 1;
  transition: all 0.3s;
  width: 100%;
  max-width: 100%;
  
  


  
}

.nav-button:hover {
  background-color: #f8f9fa6c;
  color: black;
}

.nav-button.active {
  background-color: #f8f9fa;
  color:black
}

.nav-button.active:hover {
  background-color: #f8f9fa
}

.color-picker {
  background-color: #e9ecef;
  color: white;
  border: #e9ecef solid 5px;
  
  
}



.clicked {
  background-color: white;
}

.class-items {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.map-title {
  margin: 10px;
  font-size: 20px;
  border: none;
  font-weight: bold;
  flex-direction: column;
  color: white;
  background-color: #343a40;
  border-radius: 10px;
  padding-left: 4px;
  text-align: center;
  
  
}


.legend-title {
  margin: 10px;
  font-size: 20px;
  border: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: black;
  
}

input.legend-title {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding-left: 7px;
  height: 30px ;
  border: 3px solid #e9ecef;
}

.legend-show {
  font-size: 12px;
  text-align: left;
  margin-left: 12px;
  font-weight: 400;
}


.legend-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin: 30px;
  
}

.state-selector {
  display: flex;
  flex-direction: row;
}



.countries {
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  text-align: left;
  color:black
  
}

.country-label {
  font-size: 12px;
  padding-top: 5px;
}

.country {
  height: 12px;
 
}

.oceana {
  background-color: #dee2e6;
}


li {
  list-style: none;
}

.continents {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
  
}

.con-icon {
  height: 25px;
  width: auto;
 

}

.con-label {
  font-weight: bold;
  margin-top: 2px;
  margin-left: 4px
 
}


.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.map-settings {
  flex-direction: column;
  display: flex;
  text-align: left;
}

.settings-title {
  color: white;
  font-size: 9px;
  margin-bottom: 0px;
  margin-top: 0px;
  align-items: center;
  display: flex;
}

.settings-checkbox {
  height: 10px;
  margin: 1px;
}

.settings-label{
  color: white;
  font-size: 9px;
}

.settings-button {
  background-color: #495057;
  border: none;
  border-radius: 15px ;
  height: 15px;
  color:white;
  cursor: pointer;
  font-size: 8px;
  transition: all 0.3s;
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 3px;
  
}

.settings-button:hover {
  background-color: white;
  color: black;
}

.settings-button.active {
  background-color: #f8f9fa;
  color:black
}

.settings-button.active:hover {
  background-color: #f8f9fa
}

.map-download {
  display: flex;
  flex-direction: column;
  
  
  
  
}

.download-format {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.settings-label-r {
  color: white;
  font-size: 7px;
}

.settings-radio {
  height: 8px;
}