.App {
  text-align: center;
}

.legend {
  display: flex;
  flex-direction: column;
  margin: 0px;
  border: 3px solid #555555;
  height: fit-content;
  align-items: center;
  background-color: #555555;

  
  
  
}

.nav-button {
  background-color: #5555553b;
  border: none;
  border-radius: 15px 15px 0px 0px;
  height: 30px;
  width: auto;
  color:black;
  min-width: 140px;
  cursor: pointer;
  transform: all 0.3;
  font-size: 10px;

  
}

.nav-button:hover {
  background-color: #55555567
}

.nav-button.active {
  background-color: #555555;
  color:white
}

.nav-button.active:hover {
  background-color: #555555
}

.color-picker {
  background-color: #444444;
  color: white;
  
}



.clicked {
  background-color: white;
}

.class-items {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
}



.legend-title {
  margin: 10px;
  font-size: 25px;
  border: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: white;
  
}

input.legend-title {
  background-color: #868686;
  border-radius: 5px;
  padding-left: 7px;
}

.legend-show {
  font-size: 14px;
  text-align: left;
  margin-left: 12px;
  font-weight: 400;
}


.legend-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin: 30px;
  
}

.state-selector {
  display: flex;
  flex-direction: row;
}



.countries {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  text-align: left;
  color:white
  
}

.country-label {
  font-size: 12px;
  padding-top: 5px;
}

.country {
  height: 12px;
 
}

.oceana {
  background-color: #5a5a5a;
}


li {
  list-style: none;
}

.continents {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
  
}

.con-icon {
  height: 25px;
  width: auto;
 

}

.con-label {
  font-weight: bold;
  margin-top: 2px;
  margin-left: 4px
 
}


