.changePasswordContainer {
    display: flex;
    min-height: 100vh;
  }
  
  .changePasswordContent {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* or whatever your sidebar width is */
    transition: margin-left 0.3s ease;
  }
  
  .contentCollapsed {
    margin-left: 70px; /* collapsed sidebar width */
  }
  
  .formContainer {
    max-width: 500px;
    margin: 0 auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formGroup input {
    width: 100%;
    padding: 10px 0px 10px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .successMessage {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .errorText {
    color: #c4564d;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .submitButton {
    background-color: #55957b;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submitButton:hover {
    background-color: #49846d;
  }
  