.dataUploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .csvUploader {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
  }
  
  .groupsDisplay {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
  }
  
  .group {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
  }
  
  .group h3 {
    background-color: #e9e9e9;
    margin: 0;
    padding: 10px;
  }
  
  .group p {
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: small;
  }
  
  .svgMapContainer {
    flex: 2; /* Adjust this ratio based on your layout needs */
  }
  