/* src/components/Header.module.css */

.header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #34495e;
  padding: 0 20px;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ecf0f1;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.appName {
  font-size: 1.5rem;
  margin: 0;
}

.navLinks {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navLink {
  margin: 0 15px;
  color: #d2dae2;
  text-decoration: none;
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: underline;
  color: #e74c3c; 
}

.authContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.loginLink {
  color: #ecf0f1; 
  text-decoration: none;
  font-size: 1rem;
}

.loginLink:hover {
  text-decoration: underline;
}

.navLinkButton {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 1rem;
  margin: 0 15px;
  cursor: pointer;
  padding: 0;
}

.navLinkButton:hover {
  text-decoration: underline;
  color: #e74c3c; 
}


.userMenu {
  color: #ecf0f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; /* For positioning the dropdown */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.username {
  font-size: 1rem;
  font-weight: bold;
  color: #ecf0f1;
  text-decoration: none;
  margin-right: 5px;
}

.username:hover {
  text-decoration: underline;
  color: #e74c3c; 
}

.arrowDownIcon {
  fill: #ecf0f1;
  width: 16px;
  height: 16px;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 60px; /* Adjusted to position below the userMenu */
  background-color: #ecf0f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 180px; /* Increased width */
  z-index: 1000;
  padding: 10px 0; /* Added padding for spacing */
}

.dropdownItem {
  display: block;
  padding: 12px 20px; /* Increased padding for spacing */
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.dropdownItem button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdownItem button:hover {
  background-color: #f0f0f0;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .navLinks {
    display: none; /* Hide navigation links on small screens */
  }

  .menuToggle {
    display: block; /* Show menu toggle button */
    cursor: pointer;
    margin-left: auto;
    font-size: 1.5rem;
    color: #fff;
  }
}

/* Additional styles for menu toggle */
.menuToggle {
  display: none;
}

/* If you implement a mobile menu, you'll need additional styles */
