.App {
  text-align: center;
}

.class {
  display: flex;
  margin: 30px;
  border: 3px solid black;
  height: 400px;
  align-items: center;

  
  
  
}

.class-sidemenu {
  border: 3px solid black;
  height: 400px;

}


.class-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.continents {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.301);
  max-width: 240px;
}




.select-colors {
  width: 100px;
  
}